@model RentAMovie.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Details</h2>
<ul>
    <li>
        Customer ID:@Model.id
    </li>
    <li>
        Name:@Model.name
    </li>
    <li>
        ReleaseDate:@Model.ReleaseDate.ToShortDateString()
        AddDate:@Model.AddDate.ToShortDateString()
    </li>
</ul>
